.cart__container {
    display:flex;
    min-width: 120px;
    position:relative;
    flex-direction: column-reverse;
}


.cart__totalprice {
    font-size: 18px;
    font-weight: bold;
}

.cart__icon {
    position: relative;
}